# Secret key for JWT signing
JWT_SECRET=your-very-secure-secret-key-minimum-256-bits-long-for-hs256-algorithm-change-this-in-production

# PostgreSQL
POSTGRES_DB=messagesDB
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Środowisko
NODE_ENV=production
